body{
    background-color: black;
    
}
h1, h2, h3, h4, h5, p, li, label {
    color: rgb(220, 219, 219);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
   text-align: center;
   text-shadow: 1px 0px 20px rgb(158, 158, 158);
}

.one-star, .two-star, .three-star, .four-star, .five-star {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(196, 196, 196);
    border-radius: 3px;
}
.one-star{
    
    box-shadow: 1px 1px 2px black, 0 0 10px grey, 0 0 5px darkgrey;
}
.two-star{

    box-shadow: 1px 1px 2px black, 0px 2px 10px #cd80329f, 0px 2px 8px #7a4b1c9c;
}
.three-star{

    
    box-shadow: 1px 1px 2px black, 0px 3px 10px #C0C0C0, 0px 3px 8px #858585;
    
}
.four-star{
    
    box-shadow: 1px 1px 2px black, 0px 5px 15px #3f013f, 0px 5px 10px #800380;
}
.five-star{
    box-shadow: 1px 1px 2px black, 0px 5px 15px #FFD700, 0px 5px 10px #7e6b00;
    
}

.comedy {
    background-image: url("../images/comedy.jpg");
    background-size: 200px 300px;
    
}
.action {
    background-image: url("../images/action.png");
    background-size: 200px 300px;
}
.drama {
    background-image: url("../images/drama.jpg");
    background-size: 200px 300px;
}
.horror {
    background-image: url("../images/horror.jpg");
    background-size: 200px 300px;
}
.romance {
    background-image: url("../images/romance.jpg");
    background-size: 200px 300px;
}
.documentary {
    background-image: url("../images/documentary.jpg");
    background-size: 200px 300px;
}

#film-list > ul {
    width: 200px;
    height: 300px;
    flex: 0 1 150px;
    margin: 20px;
    list-style: none;
    z-index: 2;
}


#film-list {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 320px;    
    padding: 10px;
    z-index: 2;
   
}



#title {
    font-size: 26px;
    height: 40px;
    width: 350px;
    margin-left: 5px;
    color: grey
    
}

#description{
    height: 160px;
    font-family: Arial, Helvetica, sans-serif;
    width: 202px;
    resize: none;
    margin-left: 5px;
    background-color: lightgrey;
}

#form-radio{
    position: relative;
    margin-left: 215px; 
    margin-top: -170px;
}

#form-radio input{
    margin-top: 5px;
    
}

#year {
    margin-left: 220px;
    margin-top: 10px;
    width: 100px;
}

#star-text{
    margin-left: 225px;
    margin-top: 15px;
    position: absolute;

}

#rating {
    margin-left: 220px;
    margin-top: 35px;
    position: absolute;
    
}

#submit {
    width: 208px;
    height: 30px;
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
}

#delete-all{
    width: 208px;
    margin-top: 10px;
    position: absolute;
    margin-top: 40px;
    margin-left: 5px;
}



.li-title {
    font-size: 26px;
    height: 40px;
    padding-top: 250px;
    padding-bottom: 40px;
    transition: all 2s ease; 
}

.li-description {
    height: 160px;
    overflow: scroll;
    margin-top: 0px;
    color: rgb(226, 226, 226);
    border-color: transparent;
    transition: all 2s ease;
    
}


.li-rating {
    display: grid;
    place-items: center;
    height: 40px;
    padding-bottom: 10px;
}

li {
    margin-left: -40px; 
    padding-left: 10px;
    background-color: transparent;
    transition: all 2s ease;
}


ul:hover .li-title,
ul:hover ~ .li-title {
    padding-top: 10px;
    padding-bottom: 5px;
}
ul:hover .li-description,
ul:hover ~ .li-description {
   
    border-style: solid;
    border-radius: 1px;
    border-width: 0px 0px 2px 0px;
    border-color: rgba(128, 128, 128, 0.481);
}

ul:hover li, ul:hover ~ li {
    background-color: #85858579;
    
}

i {
    color: gold;
}

.stars {
    position: absolute;
    left: -999px;
}

.holo-bg {
    width: 90%;
    height: 15px;
    position: relative;
    border-radius: 10px;
    box-shadow:1px 0px 20px rgb(158, 158, 158);
    background-color: rgb(0, 0, 0);
    margin-top: -15px;
    margin-left: 60px;
    z-index: 0;
}

#form-wrapper {
    background-color: black;
    padding-top: 10px;
    margin-top: 10px;
    height: 280px;
    width: 370px;
    margin-top: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 0px 20px rgb(158, 158, 158);
    border-radius: 5px;
}

